<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Index</title>
</head>
<body>
  <h1>Hello</h1>
  <p>Welcome to <%= title %></p>

  <table>
    <% data.forEach(function(user){ %>
        <tr>
            <td><%- user.title %></td>
            <td><%- user.body %></td>
            <!-- <td><%- user.color %></td>
            <td><%- user.starred %></td> -->
        </tr>
    <% }); %>
</table>

  
</body>
</html>

<!-- extends layout

block content
  h1= title
  p Welcome to #{title} -->
